.opening-container {
  height: 100vh;
  overflow: hidden;
}

.opening-crawl {
  display: block;
  color: yellow;
  position: relative;
  top: 50px;
  width: 400px;
  height: 90%;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  transform: translateY(100%);
  animation: crawl 30s linear infinite;
}


.opening-button {
  display: block;
  height: 50px;
  margin: auto;
  overflow: hidden;
}

@keyframes crawl {
  0% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(-100%);
  }
}

