.opening-container {
  height: 100vh;
  float: left;
  overflow: hidden;
  background-color: grey;
}

.opening-crawl {
  display: block;
  color: yellow;
  position: relative;
  top: 250px;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  transform: translateY(100%);
  animation: crawl 30s linear infinite;
}

@keyframes crawl {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}
