.card {
  border: 3px solid white;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 490px;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, .8);
}

.card .active:hover {
  box-shadow: 0px 0px 30px 0px #FFFF00;
}

.card ul {
  padding-left: 0;
}

.card li {
  list-style: none;
  margin: 15px 0;
  font-size: 20px;
}

.card-keys {
  font-weight: bold;
  text-transform: uppercase;
}

.card h2 {
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 3px solid #FFFF00;
  color: #FFFF00;
}

.card-button {
  height: 75px;
  background-color: transparent;
  background-image: url('./star.svg'), url('./star.svg');
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: left, right;
  font-size: 24px;
  border-top: 3px solid #FFFF00;
  color: #FFFF00;
  text-align: center;
}

.card-button:hover {
  color: white;
  background-image: url('./star-white.svg'), url('./star-white.svg');
}

