.category-button {
  width: 20%;
  height: 100px;
  border: 3px solid #FEDA4A;
  background-color: transparent;
  color: #FEDA4A;
  font-size: 36px;
}

.category-button:hover {
  box-shadow: 0px 0px 30px 0px #FEDA4A;
  text-shadow: 0px 0px 5px #FEDA4A;
}

.active {
  box-shadow: 0px 0px 30px 0px #FEDA4A;
}

/*.category-button span {
  width: 20px;
  background-image: url('./star.svg');
  background-size: 30px;
  background-repeat: no-repeat;
}*/