body {
  grid-template-rows: 100px 200px auto;
  grid-template-columns: 300px auto;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./App/star-background.jpg');
  color: white;
}
